{% extends 'BaseHome.html' %}
{% load static %}
{% block content %}
<div id="Home" class="container-responsive">
	<div>
		<img id="cover" src="{% static 'Atasan.jpg' %}"></img>
        <img id="cover1" src="{% static 'Garuda2.jpg' %}"></img>
    </div>
	<div id="bawahome" >
		<h1 id="tag"><b>PEMILIH CERDAS</b></h1>
        <p id="tag1">Kenali, Awasi, Pilih!</p>
	</div>
{% endblock content %}

