<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% block content %}
<html>
<head>
  <title>Daftar Pemilu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{% static 'election.js' %}"></script>
</head>
<body>
  <div class="p-5 container">
    <div id="admin-setting" class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="admin-control" onclick='toggleAdminMode()'>
      <label class="custom-control-label" for="admin-control">Admin Mode</label>
    </div>
    <div class="pb-2 container">
      <input id="search_box" type="text" placeholder="Cari nama pemilu" />
      <button id="search_btn" onclick="getElections()">Search</button>
    </div>
    <table id="election_table"class="table table-striped">
      <thead id="election_header">
        <tr>
          <th scope="col">Nama Pemilihan</th>
          <th scope="col">Waktu Pemilihan</th>
          <th scope="col">Jumlah Kandidat</th>
        </tr>
      </thead>
      <tbody id="election_body">
      </tbody>
    </table>
  </div>
</body>
</html>
{% endblock content %}