{% extends 'BaseLogin.html' %}
{% load static %}
     {% block content %}
<div>
    <h1 id="Tagline"><b>#ParlemenMilikKita</b></h1>
    <br>
    <br>
</div>
    <div id="Login" class="container">
    <form method="POST" id="masuk">
        {% csrf_token %}
        <div>
            <div class="form-group">
                <label>Username or Email</label> {{form.username}}
            </div>
            <div class="form-group">
                <label>Password</label> {{form.password}}
            </div>
        </div>
         <div class="row">
         <div class="col">
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
        </div>
            <div class="col" id="reminder">Forget Your Password?</div>
        </div>
        <input type="submit" class="btn" name="btn" id="btnLogin" value="Masuk"/>
    </form>

</div>


{% endblock content %}

{% block jquery %}
 {{ block.super }}
{% endblock %}