{% load static %}
	 {% include 'Base.html' %}
     {% block content %}
<div>
    <h1 id="Tagline"><b>#ParlemenMilikKita</b></h1>
    <br>
    <br>
</div>
    Logout success
</div>


{% endblock content %}