html {
    scroll-behavior: smooth;
}

nav {
    background-color: red;
}

#cover {
    width: 100%;
}

#cover1 {
    border-radius: 200px 200px 200px 200px;
    border: 1px solid #ddd;
    width: 15%;
    display: block;
    margin-top: -700px;
    margin-left: 600px;
    margin-right: auto;
}

#tag {
    margin-top: 350px;
    margin-left: 400px;
    margin-right: auto;
    font-family: Arial;
    color: white;
    font-size: 60px;
}

#tag1 {
    margin-top: 0px;
    margin-left: 500px;
    margin-right: auto;
    font-family: Arial;
    color: white;
    font-size: 40px;
}

@media only screen and (max-width: 800px) {
    #cover1 {
        margin-left: 350px;
        margin-top: -400px;
    }
    #tag {
        margin-left: 250px;
        margin-top: 200px;
        font-size: 45px;
    }
    #tag1 {
        margin-left: 320px;
        font-size: 25px;
    }
}