{% load static %}
{% include 'base.html' %}
{% block content %}
<html lang="en">
<head>
</head>
<body>
  <div class="p-5 container">
    <h1 class="display-3 text-center">Daftar Kandidat</h1>
    <h1 class="display-5 text-center">{{ election.title }}</h1>
    <p class="text-center"><i>Waktu pemilihan: {{ election.polling_time }}</i></h3>

    <form action="" method="GET">
      <input type="search" name="name_contains" placeholder="Cari berdasarkan nama">
      <input type="search" name="party_contains" placeholder="Cari berdasarkan partai">
      <input type="submit" value="Cari">
    </form>

    <form action="null" method="GET">
      <input class="mt-4" type="submit" value="Bandingkan kandidat yang dicentang">
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Kandidat</th>
            <th scope="col">Partai</th>
            <th scope="col">No.</th>
            <th scope="col">Motto</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidate_list %}
          <tr>
            <td><input type="checkbox" value="{{ candidate.id }}"></td>
            <td><a href="null">{{ candidate.full_name }}</td>
            <td>{{ candidate.party_name }}</td>
            <td>{{ candidate.number }}</td>
            <td><i>"{{ candidate.motto }}"</i></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
</body>
</html>
{% endblock content %}